<!-- Footer Area Start -->
<footer class="footer-area bg-img bg-overlay-2 section-padding-100-0">
  <!-- Main Footer Area -->
  <div class="main-footer-area">
    <div class="container">
      <div class="row">

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
            <!-- Widget Title -->
            <h5 class="widget-title">Kontakt</h5>

            <!-- Contact Area -->
            <ul class="footer-nav">
              <li><i class="zmdi zmdi-email mr-3"></i> <a [href]="'mailto:'+content.zakidMail">jonas.doese&#64;uni-due.de</a></li>
              <li><i class="zmdi zmdi-globe mr-3"></i> <a [href]="content.zakidUrl">ZaKI.D</a></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
            <!-- Widget Title -->
            <h5 class="widget-title">Links</h5>

            <!-- Footer Nav -->
            <ul class="footer-nav">
              <li><a [href]="content.ticketUrl" target="_blank">Anmeldung</a></li>
              <li><a [href]="content.imprintUrl" target="_blank">Impressum</a></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget Area -->
        <div class="col-12 col-sm-6 col-lg-6">
          <div class="single-footer-widget mb-60 wow fadeInUp" data-wow-delay="300ms">
            <!-- Widget Title -->
            <h5 class="widget-title">Bildquellen</h5>

            <ul class="image-credits">
              <li>Tiger&amp;Turtle
                <a href="https://unsplash.com/de/@nori_r?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Nora Rademacher</a>,
                <a href="https://unsplash.com/de/fotos/weisse-achterbahn-auf-grunem-rasen-tagsuber-XgtQAnbPXj8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <app-copywrite [content]="content"></app-copywrite>
</footer>
