
<!-- Header Area Start -->
<header class="header-area">
  <div class="classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between d-flex flex-row flex-wrap align-content-center" id="conferNav">

        <!-- Logo -->
        <a class="nav-brand d-flex"><img src="./img/core-img/logo.png" alt="" style="height: 19px"></a>

        <a [href]="content.zakidUrl" class="powered-by d-flex" target="_blank">Powered by ZaKI.D</a>

<!--        &lt;!&ndash; Navbar Toggler &ndash;&gt;-->
<!--        <div class="classy-navbar-toggler">-->
<!--          <span class="navbarToggler"><span></span><span></span><span></span></span>-->
<!--        </div>-->

<!--        &lt;!&ndash; Menu &ndash;&gt;-->
<!--        <div class="classy-menu">-->
<!--          &lt;!&ndash; Menu Close Button &ndash;&gt;-->
<!--          <div class="classycloseIcon">-->
<!--            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Nav Start &ndash;&gt;-->
<!--          <div class="classynav">-->
<!--            <ul id="nav">-->
<!--              &lt;!&ndash; todo burger menu when too small &ndash;&gt;-->
<!--              <li class="active"><a href="#">Home</a></li>-->
<!--              <li><a href='#' (click)="scroll('welcome')">Über uns</a></li>-->
<!--              <li><a href='#' (click)="scroll('speakers')">Speakers</a></li>-->
<!--              <li><a href='#' (click)="scroll('schedule')">Zeitplan</a></li>-->
<!--              <li><a href='#' (click)="scroll('tickets')">Anmeldung</a></li>-->
<!--              <li><a href='#' (click)="scroll('contact')">Kontakt</a></li>-->
<!--            </ul>-->

<!--            &lt;!&ndash; Get Tickets Button &ndash;&gt;-->
<!--            <a href="#" (click)="scroll('tickets')" class="btn confer-btn mt-3 mt-lg-0 ml-3 ml-lg-5">Plätze sichern <i-->
<!--              class="zmdi zmdi-long-arrow-right"></i></a>-->
<!--          </div>-->
<!--          &lt;!&ndash; Nav End &ndash;&gt;-->
<!--        </div>-->
      </nav>
    </div>
  </div>
</header>
<!-- Header Area End -->
