<!-- Counter Up Area -->
@if(windowWidth >= 800){
<div class="countdown-up-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="d-flex flex-row w-100 justify-content-center align-items-center align-content-center mb-5">
        <div class="countdown-box">{{ months }} <span>Monate</span></div>
        <div class="countdown-box">{{ days }} <span>Tage</span></div>
        <div class="countdown-box">{{ hours }} <span>Stunden</span></div>
        <div class="countdown-box">{{ minutes }} <span>Minuten</span></div>
        <div class="countdown-box">{{ seconds }} <span>Sekunden</span></div>
      </div>
    </div>
  </div>
</div>
}
