<!-- Preloader -->
<div id="preloader" [class.fadeOut]="fadeOut" *ngIf="loading">
  <div class="loader"></div>
</div>
<!-- /Preloader -->

<ng-container *ngIf="content">

  <app-header-menu id="home" [content]="content" (scrollTo)="scrollTo($event)"></app-header-menu>

  <app-welcome id="welcome" [content]="content"></app-welcome>

  <app-speakers id="speakers" [content]="content"></app-speakers>

  <app-schedule id="schedule" [content]="content"></app-schedule>

  <app-tickets id="tickets" [content]="content"></app-tickets>

  <app-companies [content]="content"></app-companies>

  <app-blog [content]="content"></app-blog>

<!--  <app-contact id="contact" [content]="content"></app-contact>-->

  <app-footer [content]="content"></app-footer>

</ng-container>
